node_modules/
/storage/
dump_love_db_20251216.sql
Local_love_db.session.sql
love_db.session.sql
laravel_project/.env
local_dump_1219.sql
laravel_project/.env
React_project/.env
1222_love_dump.sql
laravel_project/.env
.env
