.App {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url('/public/sougen.jpg');
  background-size: cover;      /* 画面いっぱいに伸ばす */
  background-position: center; /* 画像の中心を表示 */
  background-repeat: no-repeat; /* 繰り返さない */
  height: 100vh;               /* 画面全体の高さ */
  width: 100%;
}

.App-header {
  height: 100%;
  position: relative;
}



.Anpan {
  height: 40vmin;
  pointer-events: none;
  width: 100px;
  height: auto;
  z-index: 5;
}

p{
  font-family: 'Zen Maru Gothic';
  font-size: 35px;
  color: hsl(313, 82%, 46%);
  padding: 10px;
  border-radius: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: transparent;

}


@keyframes Anpan-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header{
  background-color: #ffffff;
  position: sticky;     /*スクロールしても画面上にくっついて残る*/
  top: 0;   /*画面の一番上にくっつける指定。sticky のときに必要*/
  z-index: 100;
}

.Header-logo{
  height: 50px;
}